<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>배송준비 List</h1>
    <table>
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Product Code</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Product Name</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td data-label="Order Number">{{ order.order_number }}</td>
                <td data-label="Product Code">{{ order.Product_code }}</td>
                <td data-label="Customer Name">{{ order.customer_name }}</td>
                <td data-label="Customer Phone">{{ order.customer_phone }}</td>
                <td data-label="Product Name">{{ order.product_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
